body {
  margin: 0;
  font-family: iranSans !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  background-color: #E8FAFB !important;
}

@font-face {
  font-family: iranSans;
  src: url("/src/fonts/IranianSans.ttf");
}
